<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>fragment</title>
        <link rel="stylesheet" href="../../static/lib/bootstrap/4.5.0/css/bootstrap.min.css"
              th:href="@{/lib/bootstrap/4.5.0/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../../static/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
        <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="../../static/lib/bootstrap/4.5.0/js/bootstrap.min.js"
                th:src="@{/lib/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div th:insert="group/_group_fragment :: nav-top"></div>

        <div th:insert="group/_group_fragment :: nav-sec"></div>

    </body>
</html>
