<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>女孩子的读书群</title>
        <link rel="stylesheet" href="../../static/lib/bootstrap/4.5.0/css/bootstrap.min.css"
              th:href="@{/lib/bootstrap/4.5.0/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../../static/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
        <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="../../static/lib/bootstrap/4.5.0/js/bootstrap.min.js"
                th:src="@{/lib/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div th:insert="group/_group_fragment :: nav-top"></div>

        <div th:insert="group/_group_fragment :: nav-sec"></div>

        <div class="container">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <!--文章主体-->
                    <div>
                        <h4 style="font-weight: bold">女孩子的读书群</h4>
                        <div class="media">
                            <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                 style="width: 48px;height: 48px" class="align-self-start mr-3 m-margin-left">
                            <div class="media-body">
                            <span class="m-info-font m-margin-left">来自:
                                <a class="m-link-font" href="#">已注消</a>
                            </span>
                                <span class="m-time-font m-margin-left">2020-09-12 21:18:15 </span>
                                <div style="font-size: 14px; margin-top: 10px;" class="m-margin-left">
                                    <p class="m-p-font">组建了一个属于女生的氛围轻松愉悦、不用害羞、可以无负担交流地读书小群，同时也可以分享些文艺趣闻，观影感受，日常思考什么的提高表达能力，有没有姐妹想加入呢？男生勿扰。好好搞绝不死群！</p>
                                    <p class="m-p-font">大家也可以直接私信我，因为豆油机制陌生人不能发图片，要等对方回复才能把群邀请图发过去，不如先豆我一下我就可以直接回复图片啦。</p>
                                    <p class="m-p-font">现在群里的可爱书友越来越多了，有人评价说这是她们目前加过最好的读书群！开心❤</p>
                                </div>
                                <div class="m-margin-left m-margin-top">
                                    <span class="m-info-font m-function-font">来自 豆瓣App</span>
                                    <span class="m-info-font m-function-font float-right">投诉</span>
                                </div>
                                <div class="m-margin-left m-function-font m-margin-top float-right">
                                    <button type="button" class="btn btn-outline-danger
                                    m-function-font m-padding m-btn-margin-left">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        赞
                                        <span>4</span>
                                    </button>
                                    <button type="button" class="btn btn-outline-success
                                    m-function-font m-padding m-btn-margin-left">
                                        <span class="glyphicon glyphicon-bookmark"></span>
                                        收藏
                                        <span>3</span>
                                    </button>
                                    <button type="button" class="btn btn-outline-success
                                    m-function-font m-padding m-btn-margin-left">
                                        <a class="text-success" href="#">转发</a>
                                        <a class="text-success" href="#"><span class="glyphicon glyphicon-share"></span></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--评论部分-->
                    <div>
                        <!--顶部导航栏-->
                        <div class="m-margin-top" id="tab">
                            <a class="m-link-font m-function-font m-padding-nav-item m-margin-nav-item"
                               href="#respond" data-toggle="tab">回应</a>
                            <a class="m-link-font m-function-font m-padding-nav-item m-margin-nav-item"
                               href="#forward" data-toggle="tab">转发</a>
                            <a class="m-link-font m-function-font m-padding-nav-item m-margin-nav-item"
                               href="#like" data-toggle="tab">赞</a>
                            <a class="m-link-font m-function-font m-padding-nav-item m-margin-nav-item"
                               href="#collect" data-toggle="tab">收藏</a>
                            <a class="m-link-font m-function-font float-right m-padding-nav-item m-margin-nav-item"
                               href="#">只看楼主</a>
                            <hr style="margin-top: 5px">
                        </div>

                        <div class="">
                            <div id="respond"class="m-tabpane">
                                <!--评论部分-->
                                <div>
                                    <div class="media">
                                        <!--图片-->
                                        <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                             style="width: 48px;height: 48px" class="align-self-start mr-3">
                                        <div class="media-body">
                                            <div class="m-function-font m-media-bg">
                                                <a class="m-link-font m-function-font" href="#">初鱼</a>
                                                <span>(人生不卖惨，越过越圆满)</span>
                                                <span>2020-09-12 23:43:14</span>
                                            </div>
                                            <p class="m-p m-margin-top-small">
                                                我来了！
                                            </p>
                                            <div class="m-margin-top-small">
                                                <span class="m-info-font m-function-font">来自 豆瓣App</span>
                                                <span class="m-info-font m-function-font float-right m-margin-left">回应</span>
                                                <span class="m-info-font m-function-font float-right m-margin-left">赞</span>
                                            </div>
                                        </div>
                                    </div>
                                    <nav class="d-flex justify-content-center m-font-small">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link text-info" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link text-info" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link text-info" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                <!--回复框部分-->
                                <div class="container" style="margin-bottom: 20px">
                                    <h5>你的回复</h5>
                                    <textarea name="" id="" class="border" style="width: 100%; height: 124px; margin-top: 10px"></textarea>
                                    <button type="button" class="btn btn-light float-right
                                border-secondary m-margin-top-tiny m-info-font m-padding-nav-item">
                                        发送
                                    </button>
                                </div>
                            </div>

                            <div id="forward" style="display: none"  class="m-tabpane">
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">转发了这篇评论</span>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">转发了这篇评论</span>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <div id="like" style="display: none"  class="m-tabpane">
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">赞了这篇讨论</span>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">赞了这篇讨论</span>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            <div id="collect" style="display: none"  class="m-tabpane">
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">收藏到豆列</span>
                                        <a href="#" class="m-link-font m-function-font">精灵儿的蘑菇屋</a>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                                         style="width: 24px;height: 24px" class="">
                                    <div class="media-body">
                                        <a href="#" class="m-link-font m-function-font m-margin-left">Theresia</a>
                                        <span class="m-info-font m-function-font">收藏到豆列</span>
                                        <a href="#" class="m-link-font m-function-font">精灵儿的蘑菇屋</a>
                                        <span class="float-right m-info-font m-function-font">2020-09-20 11:54:35</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

                <!--占位用-->
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>

                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="media">
                        <img th:src="@{/img/head.jpg}" src="../../static/img/head.jpg" alt="#"
                             style="width: 48px;height: 48px" class="align-self-start mr-3">
                        <div class="media-body">
                            <a class="m-link-font" href="#">最近我们读了同一本书</a>
                            <div class="m-info-font">我是小组的成员</div>
                        </div>
                    </div>
                    <hr>

                    <div>
                        <div style="margin-bottom: 10px">
                            <span style="font-size: 16px; font-weight: 100">最新讨论</span>
                            (<a href="#" class="m-link-font m-function-font"> 更多 </a>)
                        </div>
                        <div>
                            <a href="#" class="m-link-font m-function-font">求推书</a>
                            <span class="m-info-font m-function-font">(Asylum)</span>
                            <hr style="margin-top: 3px; margin-bottom: 0">
                        </div>
                        <div>
                            <a href="#" class="m-link-font m-function-font">乌合之众</a>
                            <span class="m-info-font m-function-font">(且听风吟)</span>
                            <hr style="margin-top: 3px; margin-bottom: 0">
                        </div>
                        <div>
                            <a href="#" class="m-link-font m-function-font">求推荐一本马克思主义的书</a>
                            <span class="m-info-font m-function-font">(年方二八)</span>
                            <hr style="margin-top: 3px; margin-bottom: 0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-bottom: 20px">

        <!-- tab 切换 -->
        <script>
            // 选取 id 为 tab 的标签内的所有 a 标签，选取所有 class 中带有 m-tabpane 的标签
            const a = document.querySelectorAll('#tab a'),
                div = document.querySelectorAll('.m-tabpane');

            for (let i = 0; i < a.length; i++) {
                let tmp = i;
                a[i].onclick = function () {
                    // 将此标签以外的所有标签样式置为 none，且去除 active
                    for (let j = 0; j < div.length; j++) {
                        div[j].style.display = 'none';
                        a[j].classList.remove('active');
                    }
                    // 将此标签样式置为 block（显示），且添加 active
                    div[tmp].style.display = 'block';
                    this.classList.add('active');
                }
            }

        </script>
    </body>
</html>
